.header {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
}

.description {
  font-size: 1.2em;
  color: #555;
  font-family: 'Arial', sans-serif;
}